{% load staticfiles %}
<html>
  <head>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/bin/materialize.css' %}"  media="screen,projection"/>
    <title>MyStock!</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        {% for i in itens%}
        <div class="col s12 m4 l4">
          {{i.item_name.product_category}} {{i.item_name.product}} <br>
          {{i.item_package}} {{i.item_volume}}{{i.item_measure}} - c/{{i.item_capacity}}<br>
          {{i.available_quantity}}
          <form method="POST" action="{%url "products:increase_quantity"%}">
            {% csrf_token %}
            <input type="hidden" name="id_item" value="{{i.id}}">
            <input type="number" min="0" step="1" name="quantity" value="0" style="width: 45px;">
            <button class="waves-effect waves-light btn-large" type="submit" name="action">Adicionar</button>
          </form>
          <form method="POST" action="{%url "products:decrease_quantity"%}">
            {% csrf_token %}
            <input type="hidden" name="id_item" value="{{i.id}} ">
            <input type="number" min="0" step="1" name="quantity" value="0" style="width: 45px;">
            <button class="waves-effect waves-light btn-large" type="submit" name="action">Remover</button>
          </form>
        </div>
        {% endfor %}
      </div>
    </div>
    <!--Import jQuery before materialize.js-->
    {% block footer %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'materialize/bin/materialize.js' %}"></script>
    {% endblock %}
  </body>
</html>
