{% extends "myStock/base.html" %}

{%block content%}
<div class="container">
  <div class="row">
    {% for p in products%}
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-image valign-wrapper">
          <img class="responsive-img" src="{{p.product_image_link}}">
        </div>
        <div class="card-content" style="text-align:center">
          <span class="card-title">{{p.product_category.category}} {{p.product_brand}}</span>
          <p>{{p.product_package}} {{p.product_volume}}{{p.product_measure}} - c/{{p.product_capacity}}</p>
          <span class="card-title">Disponível: {{p.available_quantity}} unidades</span>
        </div>
        <div class="card-action center-align">
          <div class=" row">
            <form method="POST" action="{%url "products:increase_quantity"%}">
              {% csrf_token %}
              <div class="col s12">
                <div class="row">
                    <input type="hidden" name="id_product" value="{{p.id}}">
                    <input class="center-align" type="number" min="0" step="1" name="quantity" value="0" style="width: 45px;">
                    <input class="center-align" type="number" min="0" step="any" name="price" value="0.00" style="width: 45px;">
                    <button class="waves-effect waves-light btn-large" type="submit" name="action">Adicionar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{%endblock%}
